<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="genre-card.component.css">
</head>

<div class="card mx-auto mb-2 text-center text-light my-4 py-2">
    <img class="card-img-top"
        src="../../assets/img/png-clipart-musical-note-eighth-note-miscellaneous-music-symbols-removebg-preview.png">

    <div class="card-header my-3 py-4">
        Genre
    </div>

    <div class="card-body">
        {{genre.name}} 
    </div>
    
    <div class="card-footer mt-2 pt-3">
        <a routerLink="/songs/genre/{{genre.name}}" class="py-2 px-4 btn btn-primary">View songs</a>
    </div>
</div>