<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./genre.component.css">
</head>
<body>
    <router-outlet></router-outlet>
    <div class="container-fluid d-flex flex-column min-vh-100 px-3" id="genre-container">
        <div class="row py-2">
          <div *ngFor="let genre of genres"  class="col-md-3">
                <app-genre-card [genre]="genre"></app-genre-card>
            </div>
        </div>
      </div>
</body>
</html>